<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="#" class="navbar-brand">ASAP Scounting App</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="{{ urlFor('home') }}">Home</a></li>
        <li><a href="#" data-toggle="tooltip" data-placement="bottom" title="Sorry, This section is not yet implemented!">Pre Scouting</a></li>
        <li><a href="#" data-toggle="tooltip" data-placement="bottom" title="Sorry, This section is not yet implemented!">Pit Scouting</a></li>
        <li><a href="#" data-toggle="tooltip" data-placement="bottom" title="Sorry, This section is not yet implemented!">Alliance Selections</a></li>
        <li><a href="#" data-toggle="tooltip" data-placement="bottom" title="Sorry, This section is not yet implemented!">Event Data</a></li>
      </ul>
      {% if not isMobile %}
      <ul class="nav navbar-nav navbar-right">
          <li><a href="#" data-toggle="tooltip" data-placement="bottom" title="Sorry, This section is not yet implemented!">Login</a></li>
          <li><a href="#" data-toggle="tooltip" data-placement="bottom" title="Sorry, This section is not yet implemented!">Register</a></li>
      </ul>
      {% endif %}
    </div><!--/.nav-collapse -->
  </div>
</nav>
