<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="#" class="navbar-brand">ASAP Scouting App</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav">
        <li {% if "/" == url.current %}class="active"{% endif %}><a href="{{ urlFor('home') }}">Match Scouting</a></li>
        <li {% if "/pre" == url.current %}class="active"{% endif %}><a href="{{ urlFor('home.pre') }}">Pre Scouting</a></li>
        <li {% if "/pit" == url.current %}class="active"{% endif %}><a href="{{ urlFor('home.pit') }}">Pit Scouting</a></li>
        <!--<li><a href="#" style="color: #222222; cursor: default;">Alliance Selections</a></li>
        <li><a href="#" style="color: #222222; cursor: default;">Event Data</a></li>-->
        <li {% if "/data" == url.current %}class="active"{% endif %}><a href="{{ urlFor('home.team.data') }}">Team Review</a></li>
      </ul>
      {% if not isMobile %}
      <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><em>Last Updated: 11:02 12/03/2016</em></a></li>
          <!--<li><a href="#" style="color: #222222; cursor: default;">Login</a></li>
          <li><a href="#" style="color: #222222; cursor: default;">Register</a></li>-->
      </ul>
      {% endif %}
    </div>
  </div>
</nav>
