# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/bower_components/
/node_modules/

# Composer Vendor Files
vendor

# Build Files
tests
generatedJUnitFiles
build
build.xml
cache.properties
jenkins-cli.jar

# Local Config Files
asap-scouting/config/*.json

# Test Data
public/img/*

# Account Specific Service Account Details
ASAP Scouting App PHP-722b21dfb35c.json
