# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/bower_components/
/node_modules/

# Composer Vendor Files
vendor

# Local Config Files
local.json
host.json

# Account Specific Service Account Details
ASAP Scouting App PHP-722b21dfb35c.json