h4.comment-label {
	margin-top: 0px;
}
div.bot-type {
	margin-top: -30px;
}
span.glyphicon-remove:hover {
	color: red;
	cursor: pointer;
}
@media (min-width: 768px) {
	body {
		padding-top: 60px;
	}
}