.container-main {
    padding: 40px 15px;
    text-align: center;
}
th, td {
    text-align: center;
    white-space: nowrap;
}
.progress-bar-info {
    color: black;
}
#replaceDiv, .limit-height {
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    padding-left: 0px;
}
#manager {
    float: right;
    padding-left: 20px;
    height: 100%;
}
p.row-header {
     margin-bottom: 0;
}
.column {
    border: 1px solid #000;
    margin-bottom: 0;
}
#match-red, .team-red {
    color: black;
    background-color: red;
}
#match-blue, .team-blue {
    color: white;
    background-color: blue;
}
.score-container {
    padding: 0px;
}
.loader {
    padding-top: 15px;
    float: right;
    display: none;
}
input.inputData {
    height: 1.25em;
    width: 100%;
    font-size: 1em;
    font-weight: 400;
    text-align: center;
    color: black;
}
.row {
    width: auto;
    height: auto;
}
html {
    min-height: 100%;
    position: relative;
}
body {
    height: 100%;
}
div.explode {
    display: none;
    height: 90%;
    width: 100%;
}
.team-details {
    padding-top: 15px;
    /*padding-left: 30px;
    height: 10%;
    width: 50%;*/
    overflow: hidden;
}
.team-id {
    font-size: 18pt;
    font-weight: 600;
}
.team-details {
    display: none;
    padding-left: 5px;
}
#body-holder{
    padding: 0px 10px;
}
