{% extends "templates/default.twig" %}

{% block title %}Administration{% endblock %}

{% block content %}
	Regionals in DB:
	{% for i in tables %}
		{% set name = i|split("_")[1] %}
		{% set regional, year = name|split("", 4)[1], name|split("", 4)[0] %}
		<span style="color: red;">{{ regional|upper }} {{ year }}{% if not loop.last %},{% endif %}</span>
	{% endfor %}
{% endblock %}