{% extends 'templates/default.twig' %}

{% block title %}Home{% endblock %}

{% block styles %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.24.6/css/theme.bootstrap.min.css" type="text/css">
{% endblock %}

{% block content %}
<div class="container-main" data-content-url="{{ urlFor('app.datatable') }}">
    <h1 data-response-url="{{ url.base }}/img/beforeSend.svg" data-success-url="{{ url.base }}/img/success.svg" class="main-header">Hello</h1>
    <p class="lead">This page is starting page for the ASAP Scouting App</p>
</div>
<div class="col-lg-6 container-hold" style="display: none;" id="replaceDiv"></div>
<div class="col-lg-6 container-hold" style="display: none; background-color: red;" id="manager">
    <div class="elem1" id="">
        <div class="col-lg-4" id="match-id">
            <p>Match Number</p>
        </div>
        <div class="col-lg-8" id="match-num">
            <p>Select Match on the left</p>
        </div>
    </div>
    <div class="elem2" id="">
        <div class="col-lg-4" id="match-scores">
            <p>Alliance Scores</p>
        </div>
        <div class="col-lg-4" id="match-red" style="background-color: red;">
            <p>Red</p>
        </div>
        <div class="col-lg-4" id="match-blue" style="background-color: blue;">
            <p>Blue</p>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.24.6/js/jquery.tablesorter.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.24.6/js/jquery.tablesorter.widgets.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.24.6/js/widgets/widget-filter.min.js" type="text/javascript"></script>
<script type="text/javascript">
function success (e) {
    $("div#body-container").removeClass("container");
    $("div#body-container").addClass("container-fluid");
    $(".container-main").remove();
    $("div#replaceDiv").append(e);
    $("div.container-hold").fadeIn({
        start: function () {
            $("div.container-hold").removeAttr("style");
        }
    }, 500);
    $('#match-table').tablesorter({
        theme: 'bootstrap',
        headerTemplate: '{content} {icon}',
        widgets: ['filter']
    });
}
    $(document).ready(function () {
        $.ajax({
            url: $("div.container-main").attr("data-content-url"),
            type: "GET",
            dataType: "html",
            beforeSend: function () {
                var x = {
                    main: $("h1.main-header").attr("data-response-url"),
                    success: $("h1.main-header").attr("data-success-url")
                };
                $("h1.main-header").remove();
                $("div.container-main").prepend('<img class="response-img" src="' + x.main + '" height="50px" width="50px" data-success-url="' + x.success + '">');
                $("p.lead").text("Crunching the latest data...");
            },
            success: function (e) {
                $("img.response-img").prop("src", $("img.response-img").attr("data-success-url"));
                setTimeout(function () {
                    $(".container-main").fadeOut("slow", function () {
                        success(e);
                    });
                }, 500);
            }
        });
    });
</script>
{% endblock %}
