<div class="col-lg-4 nodisplay container-hold" id="match-buttons">
    <div class="form-group col-lg-7">
        <h6 {% if isMobile %}class="match-nopad"{% endif %}>Auto</h6>
        <button id="blue-auto_reach" type="button" class="btn btn-info btn-sm match-buttons" aria-point-val="2" aria-display="Defense Reached">Defense Reached</button>
        <button id="blue-auto_cross" type="button" class="btn btn-info btn-sm match-buttons" aria-point-val="10" aria-display="Crossed Undamaged">Crossed Undamaged</button>
        <button id="blue-auto_low" type="button" class="btn btn-info btn-sm match-buttons" aria-point-val="5" aria-display="Boulder Low">Boulder Low</button>
        <button id="blue-auto_high" type="button" class="btn btn-info btn-sm match-buttons" aria-point-val="10" aria-display="Boulder High">Boulder High</button>
    </div>
    <div class="form-group col-lg-5">
        <h6 {% if isMobile %}class="match-nopad"{% endif %}>TeleOP</h6>
        <button id="blue-tele_scale" type="button" class="btn btn-info btn-sm match-buttons" aria-point-val="15" aria-display="Scale Tower">Scale Tower</button>
        <button id="blue-tele_chal" type="button" class="btn btn-info btn-sm match-buttons" aria-point-val="5" aria-display="Contest Tower">Contest Tower</button>
        <button id="blue-tele_low" type="button" class="btn btn-info btn-sm match-buttons" aria-point-val="2" aria-display="Boulder Low">Boulder Low</button>
        <button id="blue-tele_high" type="button" class="btn btn-info btn-sm match-buttons" aria-point-val="5" aria-display="Boulder High">Boulder High</button>
    </div>
    <div class="form-group col-lg-7">
        <h6 {% if isMobile %}class="match-nopad"{% endif %}>Auto</h6>
        <button id="red-auto_reach" type="button" class="btn btn-danger btn-sm match-buttons" aria-point-val="2" aria-display="Defense Reached">Defense Reached</button>
        <button id="red-auto_cross" type="button" class="btn btn-danger btn-sm match-buttons" aria-point-val="10" aria-display="Crossed Undamaged">Crossed Undamaged</button>
        <button id="red-auto_low" type="button" class="btn btn-danger btn-sm match-buttons" aria-point-val="5" aria-display="Boulder Low">Boulder Low</button>
        <button id="red-auto_high" type="button" class="btn btn-danger btn-sm match-buttons" aria-point-val="10" aria-display="Boulder High">Boulder High</button>
    </div>
    <div class="form-group col-lg-5">
        <h6 {% if isMobile %}class="match-nopad"{% endif %}>TeleOP</h6>
        <button id="red-tele_scale" type="button" class="btn btn-danger btn-sm match-buttons" aria-point-val="15" aria-display="Scale Tower">Scale Tower</button>
        <button id="red-tele_chal" type="button" class="btn btn-danger btn-sm match-buttons" aria-point-val="5" aria-display="Contest Tower">Contest Tower</button>
        <button id="red-tele_low" type="button" class="btn btn-danger btn-sm match-buttons" aria-point-val="2" aria-display="Boulder Low">Boulder Low</button>
        <button id="red-tele_high" type="button" class="btn btn-danger btn-sm match-buttons" aria-point-val="5" aria-display="Boulder High">Boulder High</button>
    </div>
    <button id="blue-foul" type="button" class="btn btn-info btn-sm match-buttons pull-left" aria-point-val="5">Foul</button>
    <button type="button" id="reshow-table" class="btn btn-sm btn-default">Show Matchs</button>
    <button id="red-foul" type="button" class="btn btn-danger btn-sm match-buttons pull-right" aria-point-val="5">Foul</button>
</div>