<div class="modal fade" role="dialog">
    <form id="upload" method="post" action="{{ urlFor('submit.photo') }}" class="modal-dialog" enctype="multipart/form-data" style="padding-right: auto;">
        <div id="drop">
            Drop Here
            <a>Browse</a>
            <input type="file" name="photo" multiple />
            <input type="hidden" name="{{ csrf_key }}" value="{{ csrf_token }}">
            <input type="hidden" id="team_id" name="team_id" value="4646">
        </div>

        <ul id="file-list"></ul>
        <a id="photo-clear">Clear</a>
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    </form>
</div>